@import "./src/main";
@import "./src/mixin";

$loader-size: 100px;

.loader-wrapper {
  @include full-screen;
  background-color: rgba(255, 255, 255, 0.4);

  .loader {
    @include position-center;
    height: $loader-size;
    width: $loader-size;
    border-radius: $circle-border-radius;
    border: 10px solid rgba($secondary-color, 0.3);
    border-top: 10px solid $color-white;
    animation: animateloader 1.5s infinite linear;
  }

  .loader-text {
    @include position-center;
  }
}

@keyframes animateloader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
