@import "./src/main";

.list {
  margin: 0 1rem;
  .table-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    h2 {
      font-size: $default-font-size;
      font-weight: $bold-font-weight;
      text-transform: capitalize;
      background-color: $light-background-color;
      color: $color-white;
      width: 100%;
      padding: 5px 1.5rem;
      border-radius: $default-border-radius;
    }
  }
  .resource-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    thead {
      background-color: $light-background-color;
      tr {
        th {
          font-size: $small-font-size;
          font-weight: $medium-font-weight;
          vertical-align: center;
          text-transform: capitalize;
          border: 1px solid $primary-color;
          padding: 5px;
          text-align: left;
          word-break: break-word;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 0.6rem;
          font-weight: $light-font-weight;
          border: 1px solid $primary-color;
          vertical-align: top;
          padding: 3px;
          text-align: left;
          word-break: break-word;
          p {
            margin: 3px;
          }
        }

        &:nth-child(odd) {
          background-color: $color-not-white;
        }
      }
    }
  }
}

@media screen and (max-width: 755px) {
  .list {
    margin: 0 1rem;
    .resource-table {
      display: block;
      thead {
        display: none;
      }
      tbody {
        display: block;
        tr {
          display: block;
          width: 100%;
          margin-bottom: 1rem;
          td {
            display: block;
            text-align: right;
            position: relative;
            p {
              font-size: $medium-font-size;
              margin: 0.5rem;
              padding: 0 1rem 0 0;
            }
            &:before {
              content: attr(data-label);
              position: absolute;
              text-align: left;
              margin: 0.5rem;
              font-size: $medium-font-size;
              width: 50%;
              left: 0;
              text-transform: capitalize;
              padding-left: 1rem;
              font-weight: $medium-font-weight;
            }
          }
        }
      }
    }
  }
}
