@import "./src/main";

.active,
.inactive {
  user-select: none;
  padding: 3px 10px;
  margin: 5px;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  border: 2px solid $secondary-color;
  background-color: $secondary-color;
  color: $color-white;
  font-size: $medium-font-size;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  cursor: pointer;
  transition: $transition-all;

  &:hover {
    border-color: $light-background-color;
    background-color: $light-background-color;
  }

  &:active {
    border-color: $background-color;
    background-color: $background-color;
    box-shadow: unset;
  }
}

.inactive {
  background-color: darken($secondary-color, 40%);
  border: 2px solid darken($secondary-color, 40%);
}
