.header {
  flex: 0 0 100%;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 755px) {
  .header {
    margin-top: 1rem;
    .search {
      flex: 0 0 100%;
      margin-bottom: 0.5rem;
      .search-field {
        display: flex;
        margin: 0 1rem;
        input {
          width: 100%;
        }
      }

      input {
        width: 80%;
      }
    }
    .navigation {
      flex: 0 0 100%;
      .navigation-items {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 0 1rem;
      }
    }
  }
}
