@import "./src/main";

.search-field {
  position: relative;
  input {
    padding: 0.5rem;
  }
  .clear-search {
    right: 12px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:before,
    &:after {
      transition: linear all 0.2s;
      content: "";
      position: absolute;
      background-color: $color-gray;
      width: 11px;
      height: 2px;
      top: 50%;
      left: 50%;
      border-radius: 2px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: lighten($color-gray, 20px);
      }
    }
    &:active {
      &:before,
      &:after {
        background-color: darken($color-gray, 20px);
      }
    }
  }
}
