$primary-color: #cccccc;
$secondary-color: #4ec0e9;
$background-color: #c3c3c3;
$color-black: #000000;
$color-white: #ffffff;
$color-not-white: #f8f8f8;
$light-background-color: #6dd7ff;
$color-gray: #737373;
$default-border-radius: 3px;
$default-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
$transition-all: all linear 0.3s;

$default-font-size: 1rem;
$medium-font-size: 0.8rem;
$small-font-size: 0.7rem;

$bold-font-weight: 600;
$medium-font-weight: 400;
$light-font-weight: 300;

$circle-border-radius: 50%;
